@if (!isOrderSent()) {
  <!-- форма -->
  <form class="container text-center justify-content-between col col-lg-8 col-md-12 col-sm-12"
        [formGroup]="orderForm"
        (ngSubmit)="createOrder()">
    <h2>Сделать заказ</h2>
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <label for="name" class="form-label">Имя</label>
          <input type="text" id="name" class="name form-control" formControlName="name">
        </div>

        <div class="col-md-4">
          <label for="surname" class="form-label">Фамилия</label>
          <input type="text" id="surname" class="surname form-control" formControlName="lastName">
        </div>

        <div class="col-md-4">
          <label for="phone" class="form-label">Телефон</label>
          <input type="text" id="phone" class="phone form-control" formControlName="phone">
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label for="country" class="form-label">Страна</label>
          <input type="text" id="country" class="country form-control" formControlName="country">
        </div>

        <div class="col-md-6">
          <label for="index" class="form-label">Индекс</label>
          <input type="text" id="index" class="index form-control" formControlName="zip">
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <label for="address" class="form-label">Адрес</label>
          <input type="text" id="address" class="address form-control" formControlName="address">
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <label for="product-title" class="form-label">Товар</label>
          <input type="text" id="product-title" class="product-title form-control" formControlName="productTitle">
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <label for="comment" class="form-label">Комментарий к заказу</label>
          <textarea class="form-control" placeholder="Комментарий к заказу" formControlName="comment"></textarea>
        </div>
      </div>

      <div class="form-button">
        <button type="submit" class="btn-sm btn-primary">Отправить</button>
        @if (hasOrderError()) {
          <span class="error-text">Произошла ошибка. Попробуйте еще раз.</span>
        }
      </div>
    </div>
  </form>
} @else {
  <p>Спасибо за заказ!</p>
}
