/* форма */
form {
  //margin-bottom: 48px;
  height: 100vh;
  margin: auto;

}

h2 {
  margin-top: 60px;
  margin-bottom: 60px;
  font-weight: bold;
}

.form-label {
  text-align: left;
  margin-bottom: 10px;
}

.address {
  margin-bottom: 24px;
}

.row {
  margin-bottom: 18px;
  text-align: left;
}

.form-button {
  text-align: left;
}
